{% extends 'layout.html' %}
        {% block body %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('static/assets/img/about-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>{{ about ['heading']}}</h1>
                            <span class="subheading">{{about ['subheading']}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim, obcaecati. Nisi tempore quibusdam tempora natus rem corporis quasi molestias. Eveniet neque odit sapiente eum, fugiat debitis tenetur, alias, unde pariatur consequuntur cupiditate natus culpa quas dolorem suscipit quia illum quidem. Repudiandae saepe ab necessitatibus aut quo dignissimos, tempora animi assumenda deleniti explicabo ipsam, praesentium, accusantium ea. Saepe non quidem illo quia! Voluptas, impedit at. Iste repellat illum eius minima placeat dolor qui voluptates rem.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia dolorum asperiores tempore possimus quam aperiam quo? Iure officia, ab est recusandae consectetur dicta magnam. Aut eos quos voluptatem dolore debitis iste hic odit, porro accusamus mollitia veniam unde? Itaque id enim esse et eligendi aperiam ea ipsa reiciendis, iure obcaecati sapiente fuga debitis quis reprehenderit impedit fugit nesciunt earum ullam voluptas quibusdam. Commodi odit impedit dolorem voluptatum laudantium incidunt!</p>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia sequi nulla aliquam mollitia quibusdam in corporis aspernatur, nemo quo distinctio ipsum adipisci cum error culpa fugit voluptatum ducimus unde, beatae, minus dolores sed illo! Dolore, quidem necessitatibus cumque consectetur magnam expedita beatae atque, eos tempore corrupti ad nemo? Animi id ab quaerat quo ad modi vel! Distinctio fugit consectetur, libero minus eligendi repellendus accusamus vitae maiores modi esse ut.</p>
                    </div>
                </div>
            </div>
        </main>
       {% endblock %}